   :root {
       --bg-gradient: linear-gradient(50deg, #6e85bb 0%, #517cc1 50%, #3b5475 100%);
       --hero-sec-nav-color: linear-gradient(50deg, #94a0bb 0%, #eef5fe 50%, #c2d6f0 100%);
       --text-color: rgb(29, 29, 70);
       --bg-skills: linear-gradient(50deg, #e5eaf8 0%, #94c0f8 50%, #d4e7ff 100%);
       --proj-show: #3b5475;
       --cv-btn: linear-gradient(50deg, #8996b3 0%, #e5edfc 50%, #92c1ff 100%);
       --theme-btn: rgb(26, 26, 67);
       --contact-links: #3b5475;
       --scrolled-nav-bg: rgb(27, 27, 83);
       --show-proj-txt: aliceblue;
   }

   .dark {
       --bg-gradient: linear-gradient(50deg, #08080f 0%, #181b23 50%, #07192e 100%);
       --hero-sec-nav-color: linear-gradient(50deg, #0b1c43 0%, #4f83c7 50%, #1b2430 100%);
       --text-color: #e5f0fa;
       --bg-skills: linear-gradient(50deg, #061642 0%, #4e5f75 50%, #6d87a6 100%);
       --proj-show: #73a3e1;
       --cv-btn: linear-gradient(50deg, #0b1e46 0%, #2e3c5b 50%, #445c7b 100%);
       --theme-btn: rgb(193, 193, 255);
       --contact-links: rgb(255, 255, 255);
       --scrolled-nav-bg: rgb(19, 19, 44);
       --show-proj-txt: rgb(29, 29, 70);
   }

   * {
       box-sizing: border-box;
       font-family: Arial, Helvetica, sans-serif;
   }

   html {
       scroll-behavior: smooth;
   }

   body {
       background: var(--bg-gradient);
       color: var(--text-color);
       font-size: 1.1em;
   }

   #about-me,
   #ed-tr,
   #exp,
   #proj,
   #contact {
       scroll-margin-top: 150px;
   }

   nav {
       position: sticky;
       top: 0;
       margin: 10px 30px;
       transition: all 0.5s ease-in-out;
       z-index: 1000;
   }

   nav,
   .hero-section {
       background: var(--hero-sec-nav-color);
       border-radius: 10px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 5px;
       box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.3);

   }

   nav #logo img {
       width: 50px;
       height: auto;
       border: solid 2px #94a0bb;
       border-radius: 75px;

   }

   @keyframes logo_animation {
       0% {
           transform: rotate(0deg) scale(1);
           opacity: 0;
       }

       50% {
           transform: rotate(180deg) scale(1.2);
       }

       100% {
           transform: rotate(360deg) scale(1);
           opacity: 1;
       }
   }

   nav #logo img:hover {
       animation: logo_animation 0.8s ease-in-out forwards;
       cursor: pointer;
   }

   nav ul {
       display: flex;
       gap: 35px;
       padding-right: 25px;
   }

   nav ul li {
       list-style: none;
       font-size: 1.2em;
       cursor: pointer;
       transition: all 0.5s ease-in-out;
   }

   nav ul li a {
       text-decoration: none;
       color: inherit;
   }

   nav ul li:hover {
       transform: scale(1.1);
   }

   .scrolled {
       background: var(--scrolled-nav-bg);
       color: rgb(229, 240, 250);
   }

   /* nav bar */

   .hero-section {
       margin: 10px 30px 30px 30px;
   }

   #about-me {
       display: flex;
       justify-content: space-around;
       width: 100%;
   }

   #about-me .my-img img {
       max-width: 250px;
       height: auto;
       border-radius: 10px;
       box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
   }

   #about-me .txt .cv-btn {
       text-align: center;
       padding-top: 10px 0px;

   }

   #about-me .txt .cv-btn button {
       cursor: pointer;
       border-radius: 50px;
       padding: 20px;
       background: var(--cv-btn);
       transition: all 0.3s ease-in-out;
       font-weight: bold;
       color: var(--text-color);
   }

   #about-me .txt .cv-btn button:hover {
       transform: scale(1.1);

   }

   /* hero section about-me */

   #ed-tr {
       display: flex;
       justify-content: space-evenly;
       width: 100%;
       margin: 20px;
   }

   #ed-tr ul li {
       list-style: none;
   }

   .hero-section #exp {
       width: 100%;
       display: flex;
       flex-direction: column;
       gap: 10px;
       align-items: center;

   }

   .skills {
       background: var(--bg-skills);
       border: solid 2px #3b5475;
       color: var(--text-color);
       border-radius: 10px;
       text-align: center;
       opacity: 0;
   }

   .active {
       animation: slideIn 0.8s ease-out forwards;
   }

   .skills:nth-child(1) {
       align-self: flex-end;
       margin-right: 5%;
   }

   .skills:nth-child(2) {
       align-self: center;
       margin-left: 5%;
       margin-right: 5%;
   }

   .skills:nth-child(3) {
       align-self: flex-start;
       margin-left: 5%;
   }

   .skills.active:nth-child(1) {
       animation-delay: 0.2s;
   }

   .skills.active:nth-child(2) {
       animation-delay: 0.4s;
   }

   .skills.active:nth-child(3) {
       animation-delay: 0.6s;
   }



   @keyframes slideIn {
       from {
           opacity: 0;
           transform: translateY(30px);
       }

       to {
           opacity: 1;
           transform: translateY(0);
       }
   }

   /* hero section education and training and experience */

   #proj .project-info a {
       padding: 5px;
       border: solid 2px rgb(29, 59, 111);
       border-radius: 25px;
       background-color: var(--proj-show);
       color: var(--show-proj-txt);
       cursor: pointer;
       text-decoration: none;
   }

   /* hero section projects */

   .contact-heading {
       color: #ffffff;
       text-align: center;
   }

   .contact-heading h2 {
       display: inline-block;
       animation: pump 2s ease-in-out infinite;
   }

   #contact {
       padding: 20px;
       text-align: center;
       width: 100%;
   }

   #contact ul {
       list-style: none;
       padding: 0;
   }

   #contact li {
       margin-bottom: 20px;
       font-size: 1.1rem;
   }

   #contact li a {
       text-decoration: none;
       color: var(--contact-links);
   }

   @keyframes pump {
       0% {
           transform: scale(1);
       }

       50% {
           transform: scale(1.05);
       }

       100% {
           transform: scale(1);
       }
   }

   /* hero section contact */
   .mode {
       position: sticky;
       bottom: 20px;
       z-index: 2000;
       display: flex;
       justify-content: flex-end;

   }

   .mode button {
       background-color: var(--theme-btn);
       aspect-ratio: 1 / 1;
       border-radius: 50%;
       border: solid 2px rgb(220, 251, 255);
       padding: 10px;
       cursor: pointer;
   }

   /*  TABLET */
   @media (min-width: 769px) and (max-width: 1024px) {

       nav {
           margin: 10px 20px;
           font-size: 15px;
       }

       .hero-section {
           margin: 15px 20px;
           flex-direction: column;
           gap: 20px;
       }

       #about-me {
           flex-direction: column;
           align-items: center;
           text-align: center;
           gap: 10px;
       }

       #about-me .my-img img {
           max-width: 220px;
       }

       #ed-tr {
           flex-direction: column;
           gap: 20px;
       }

       .skills {
           width: 80%;
           margin: auto;
           align-self: center !important;
       }
   }

   /* MOBILE */
   @media (max-width: 768px) {
       nav {
           margin: 5px 10px;
           padding: 15px 10px;
           flex-wrap: wrap;
           justify-content: center;
           gap: 15px;
       }

       nav #logo {
           display: flex;
           justify-content: center;
           width: 100%;
       }

       nav #logo img {
           width: 45px;
       }

       nav ul {
           width: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 10px 20px;
           padding: 0;
           margin: 0;
       }

       nav ul li {
           font-size: 0.95rem;
           list-style: none;
       }

       .hero-section {
           margin: 10px;
           flex-direction: column;
           padding: 20px;
       }

       #about-me {
           flex-direction: column;
           text-align: center;
           gap: 15px;
       }

       #about-me .my-img img {
           max-width: 180px;
       }

       #ed-tr {
           flex-direction: column;
           gap: 25px;
           text-align: center;
           padding: 0;
       }

       .skills {
           width: 90% !important;
           margin: 5px auto !important;
           align-self: center !important;
       }

       #contact li {
           font-size: 1rem;
       }
   }